h1{
    color: white;
    background-color:lightcoral;
    inline-size: 380px;
    margin-top: 50px;
}
h2{
    line-height: 12px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: lightcoral;
}
li{
    display: inline;
}
.info{
    line-height: 12px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.stiletto{
    margin-top: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

